<%

from modules.pastafari.models.servers import DataServer
from paramecio.citoplasma.filesize import filesize
from paramecio.citoplasma import datetime

now=datetime.obtain_timestamp(datetime.now(utc=True))

five_minutes=now-300;

date_five_minutes=datetime.timestamp_to_datetime(five_minutes)

dataserver=DataServer(conn)

servers=dataserver.set_conditions('where dataserver.date>%s AND dataserver.ip IN (select ip from '+sql_server_ip+')', [date_five_minutes]).select_to_array()

arr_disk=[]

y=0

%>

% if servers:

% for server in servers:

<h3>${server['server_id']}</h3>
<table class="table_list">
    <tr class="title_list">
        <td>${lang('pastafari', 'disk', 'Disk')}</td>
        <td>${lang('pastafari', 'free', 'Free')}</td>
        <td>${lang('pastafari', 'total', 'Total')}</td>
    </tr>
    
    % for x in range(6):
    % if not server['disk'+str(x)+'_id'] in arr_disk:
    <tr class="row_list">
        <td>${server['disk'+str(x)+'_id']}</td>
        <%
        arr_disk.append(server['disk'+str(x)+'_id'])
        %>
        <td>${filesize(server['disk'+str(x)+'_id_free'])}</td>    
        <td>${filesize(server['disk'+str(x)+'_id_size'])}</td>    
    </tr>
    % endif
    % endfor             

    <tr class="title_list">
        <td>${lang('pastafari', 'number_of_cpu', 'Number of cpus')}</td>
        <td>${lang('pastafari', 'total_cpu_idle', 'Total cpu idle')}</td>
        <td>&nbsp;</td>
    </tr>
    <tr class="row_list">
        <td>${server['cpu_id_num_cpu']}</td>    
        <td>${server['cpu_id']}</td>    
    </tr>
    <tr class="title_list">
        <td>${lang('pastafari', 'used_memory', 'Used memory')}</td>
        <td>${lang('pastafari', 'free_memory', 'Free memory')}</td>
        <td>${lang('pastafari', 'cached_memory', 'cached memory')}</td>
    </tr>
    <tr class="row_list">
        <td>${filesize(server['memory_id_used'])}</td>    
        <td>${filesize(server['memory_id_free'])}</td>    
        <td>${filesize(server['memory_id_cached'])}</td>    
    </tr>    
    <tr class="title_list">
        <td colspan="3">${lang('pastafari', 'options', 'Options')}</td>
    </tr>
    <tr class="row_list">
        <td colspan="3">${lang('pastafari', 'add_site_to_this_server', 'Add site to this server')} <input type="checkbox" name="server_${y}" value="${server['server_id_id']}" class="server_chosed" /><input type="hidden" name="ip_${y}" value="${server['ip']}" />
        </td>        
    </tr>
</table>
<%

y+=1

%>


% endfor

% else:

<p><strong>${lang('pastafari', 'no_servers_availables', 'No servers availables')}</strong></p>

% endif

