<p><a href="${make_admin_url('pastafari/servers')}">${lang('pastafari', 'servers', 'Servers')}</a> &gt;&gt; <a href="${make_admin_url('pastafari/logs', {'server_id': server_id})}">${hostname} ${lang('pastafari', 'logs_task', 'logs')}</a> &gt;&gt; ${name_task}</p>
${l.show()|n}
