<form method="post" name="update_servers" id="update_servers" action="${url_exec}">
${form|n}
${csrf_token()|n}
<p><input  type="submit" value="${lang('pastafari','execute_task', 'Execute task')}" /></p>
</form>
