<h2>${name_task}</h2>
<p>${description_task}</p>
<hr />
<p>${lang('pastafari', 'num_servers', 'Number of servers')}: <span id="num_servers">${num_servers}</span></p>
<p>${lang('pastafari', 'completed_tasks', 'Completed tasks')}: <span id="num_completed">0</span></p>
<p id="detecting_servers" style="display:none;">${lang('pastafari', 'making_tasks', 'Making tasks...')} <i class="fa fa-cog fa-spin fa-fw"></i></p>
<table class="table_servers">
    <tr class="row_server" id="father_server" style="display:none;">
        <td class="hostname">Hostname</td>
        <td class="progress">In progress <i class="fa fa-cog fa-spin fa-fw"></i> <a href="#" class="server_log" target="_blank">${lang('pastafari', 'server_log', 'Server log')}</a></td>
    </tr>
</table>
<div id="finished" style="display:none;">
    <p><strong>All tasks were finished.</strong></p>
</div>
<script>
    
    total_servers=${num_servers};
    total_servers_log=0;
    total_servers_done=0;
    servers_to_delete={};
    deleted=0;
    position=0;
    
    arr_servers={};
    
    if(total_servers>0)
    {
        $('#detecting_servers').fadeIn(1);
        
        get_progress_servers();
    }
    else
    {
        $('#detecting_servers').html('Sorry, no servers to update');
    }
    
    function get_progress_servers() {
        
        $.ajax({
        url: "${make_admin_url('pastafari/showmultiprogress', {'op': str(1), 'task_id': str(task_id)})}&position="+position,
        method: "GET",
        dataType: "json",
        }).done(function(data) {
            
            servers_to_delete=[];
           
            for(x in data)
            {
                
                if(arr_servers.hasOwnProperty(data[x].server))
                {
                    
                    if(data[x].status==1)
                    {
                        server_dom=$(document.getElementById(data[x].server));
                        
                        if(data[x].error==1) {
                            
                            server_dom.children('.progress').children('i').removeClass('fa-cog fa-spin fa-fw');
                            server_dom.children('.progress').children('i').addClass('fa-ban');
                            server_dom.children('.progress').children('i').css('color', '#ff0000');
                            server_dom.children('.progress').append(' ${lang('pastafari', 'error_review_log', 'Error: please, review the log')}');
                            
                        }
                        else {
                            
                            server_dom.children('.progress').children('i').removeClass('fa-cog fa-spin fa-fw');
                            server_dom.children('.progress').children('i').addClass('fa-check');
                            server_dom.children('.progress').children('i').css('color', '#005a00');
                            
                            servers_to_delete[data[x].server]=data[x].server;
                            
                        }
                        
                        total_servers_done+=1;
                    
                    }
                    
                    $('#num_completed').html(total_servers_done);
                    
                }
                else
                {
                    
                    row=$('#father_server').clone().appendTo('.table_servers');
                        
                    row.attr('id', data[x].server);
                    
                    row.css('display', 'block');
                    
                    row.children('.hostname').html(data[x].hostname);
                    
                    row.children('.progress').children('a').attr('href', '${make_admin_url('pastafari/showprogress', {'task_id':  str(task_id)})}&server='+data[x].server);
                    
                    arr_servers[data[x].server]=data[x].server;
                    
                }
                
                c=servers_to_delete.length;
                    
                
            }
           
            if(total_servers_done<total_servers)
            {
                
                setTimeout(get_progress_servers, 1000);
                
            }
            else
            {
                
                $('#detecting_servers').fadeOut(1);
                $('#finished').fadeIn(1000);
                
            }
            
            position+=data.length;
            
            
            
        
        }).fail(function (data) {
            
            alert(JSON.stringify(data));
            
        });
        
    }
    
    
</script>
