${show_flash_message()|n}
<%def name="show_menu(type_op)">
    % if type_op!="":
        <a href="${make_admin_url('pastafari/servers?group_id='+str(group_id))}">
    % endif
        ${lang('pastafari', 'all_servers', 'All servers')}
    % if type_op!="":
        </a>
    % endif
    - 
    % if type_op!="down":
        <a href="${make_admin_url('pastafari/servers?type=down&group_id='+str(group_id))}">
    % endif
        ${lang('pastafari', 'servers_down', 'Servers down')}
    % if type_op!="down":
        </a>
    % endif
    - 
    % if type_op!="heavy":
        <a href="${make_admin_url('pastafari/servers?type=heavy&group_id='+str(group_id))}">
    % endif
        ${lang('pastafari', 'servers_heavy_loaded', 'Servers heavily loaded')}
    % if type_op!="heavy":
    </a>
    % endif
    - 
    % if type_op!="disks":
        <a href="${make_admin_url('pastafari/servers?type=disks&group_id='+str(group_id))}">
    % endif
        ${lang('pastafari', 'servers_bloated_disks', 'Servers with bloated disks')}
    % if type_op!="disks":
        </a>
    % endif
    - 
    % if type_op!="update_servers":
        <a href="${make_admin_url('pastafari/servers?type=update_servers&group_id='+str(group_id))}">
    % endif
        ${lang('pastafari', 'servers_to_update', 'Servers to update')}
    % if type_op!="update_servers":
        </a>
    % endif
    -
    % if type_op!="task_servers":
        <a href="${make_admin_url('pastafari/servers?type=task_servers&group_id='+str(group_id))}">
    % endif
        ${lang('pastafari', 'make_task_selected_servers', 'Make task in selected servers')}
    % if type_op!="task_servers":
        </a>
    % endif
</%def>
<%def name="show_tasks(task_folder)">
<ul class="superul">
% for task,value in select_task[task_folder].items():

    <li>
        <a href="#" class="category_server">${value[0][0]}</a>
        
        % if len(value)>=2:
            <ul style="display:none;" class="sonul">
            % for script in enumerate(value, 1):
                %if script[1][2]==1:
                    <li>
                    ${script[1][0].split(',')[0].strip()}<input type="radio" name="task" value="${script[1][1].decode('utf-8')}"/>
                    </li>
                % endif
            % endfor
            </ul>
        % endif
        
        % if task in select_task:
            ${show_tasks(task)}
        %endif
    </li>

% endfor
</ul>
</%def>
<form method="get" action="${make_admin_url('pastafari/servers')}" id="change_group">
<p>Select group: ${select_form_group.form()|n}</p>
<input type="hidden" name="type" value="${type_op}" />
</form>
<p><a href="${make_admin_url('pastafari/servers?op=1&group_id='+str(group_id))}">${lang('pastafari', 'add_existent_server', 'Add existing server')}</a></p>
<p>
${show_menu(type_op)}
</p>
% if yes_form==1:
<form method="post" name="update_servers" id="update_servers" action="${make_admin_url('pastafari/updates?group_id='+str(group_id))}">
% endif
% if yes_form==2:
<form method="post" name="update_servers" id="update_servers" action="${make_admin_url('pastafari/maketask?group_id='+str(group_id))}">
<p>Choose task: </p>
${show_tasks('tasks')}
% endif
${show_servers|n}
% if yes_form==1 or yes_yorm==2:
${csrf_token()|n}
% endif
% if yes_form==1:
<input type="submit" value="${lang('pastafari', 'update_selected_servers', 'Update selected servers')}" id="update_selected_servers" /> <input type="button" onclick="location.href='${make_admin_url('pastafari/updates?group_id='+str(group_id))}';" value="${lang('pastafari', 'update_all_servers', 'Update all servers')}" />
<script>
$('#update_selected_servers').click( function () {

    
    if(!$("input:checkbox:checked").length)
    {
        
        alert('No servers selected');
        
        return false;
        
    }
    
    $('#update_selected_servers').submit();

});
</script>
</form>
% elif yes_form==2:
<input type="button" id="make_task_servers" value="${lang('pastafari', 'make_task_selected_servers', 'Make task in selected servers')}" /> <input type="submit" id="make_task" value="${lang('pastafari', 'make_task_in_all', 'Make task in all servers in the group')}" />
<script>


$('#make_task_servers').click( function () {

    
    if(!$("input:checkbox:checked").length)
    {
        
        alert('No servers selected');
        
        return false;
        
    }
    
    $('#update_servers').submit();

});



$('#update_servers').submit( function () {

    if($('input[name=task]:checked').val()==undefined)
    {
        
        alert('No chosed any task');
        
        return false;
        
    }

});

</script>
</form>
% endif
% if yes_form==1 or yes_form==2:
<script>
$('.category_server').click(function () {
   
    if($(this).parent().children('.sonul').css('display')=='none')
    {
   
        $(this).parent().children('.sonul').show();
        
    }
    else
    {
        
        $(this).parent().children('.sonul').hide();
        
    }
    
    return false;
    
});

</script>
% endif
<script>
$('#change_group_id_form').change( function () {
       
       $('#change_group').submit();
        
    });
</script>
