# Save it in /etc/systemd/system/pastafariserver.service

[Unit]
Description=Pastafari task server
After=syslog.target
After=network.target
After=mysqld.service

[Service]
Type=simple
User=pzoo
Group=pzoo
WorkingDirectory=/home/pzoo/pastafari
ExecStart=bottle.py -b 127.0.0.1:1337 --server gevent scheduler:app
Restart=always
Environment=USER=pzoo HOME=/home/pzoo

[Install]
WantedBy=multi-user.target
